body > .container {
  padding-top: 60px;
  color: #212121;
}

.navbar-default {
  background-color: #A9A9A9;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
  color: #FFFFFF;
}

.panel-default>.panel-heading {
  background-color: #FFEB3B;
}

#signinButton {
  padding-top: 10px;
}
